.ourHistory{
  align-content: space-around;
  flex-wrap: wrap;

  }

.container{
  margin: 20px;
}



.card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 250px;
  height: 400px;
  margin: 15;
  padding: auto;
  border-radius: 5px;
   background-color: #1a6340;
    color: #e1af4f;
    box-shadow: 4px 4px 4px rgba(10, 10, 10, 0.794);
    border: 2px solid #e1af4f;
    border-radius: 8px;
    height: 300;
    width: 250;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
}
 
.avatar
{
  align-self: center;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  align-content: space-around;
}

.cardContent
{
  align-items: justify-content;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;

}

