/* contact form */

.contact-container{
    text-align: center;
    margin: 100px;
}

.contact-form{
    padding:50px;
}

.contact-form label{
    padding: 10px;
}

.contact-form input{
    height: 20px;
    width: 30%
}

.contact-form textarea{
    width: 30%;
    height: 50px;
}

.email{
    padding: 10px;
}

.submit-button{
    cursor: pointer;
    border: 1px solid #D27E4E;
    color: #0d482c !important;
    padding: 8px;
    min-width: 80px;
    background: #E1AF4F;
    border-radius: 10%;
}



/* StarRating for Player */

input[type="radio"] {
    display:none;
}

.star {
    cursor: pointer; 
    transition: color 200ms; 
    padding: 10px;
}