

/* -- Styling of the social media icons ---*/
.social-container {
    background: #0d482c;
    display: block; 
    text-align: center; 
    bottom: 0px; 
  }

  a.social {
    margin: 1rem;
    transition: transform 250ms;
    display: inline-block;
    font-size: 15px;
  }

  a.social:hover {
    transform: translateY(-5px);
  }

  a.youtube {
    color: #e1af4f;
  }
  
  a.facebook {
    color: #e1af4f;
  }
  
  a.twitter {
    color: #e1af4f;
  }
  
  a.instagram {
    color: #e1af4f;
  }


  #line-one {
    border: none;
    height: 1px;
    background-color: #e1af4f;
    width: 80%; 
    display: center;
}
 
#line-two {
  border: none; 
  height: 1px; 
  background-color: #e1af4f;
  display: center;
}
  

  @media only screen and (max-width: 600px) {
    .social-container { 
      display: block;
    }

  }