.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}



h1:hover {
    font-family: "Cinzel Decorative", cursive;
    font-size: 5.9pts;
}

.intro-text{
    margin-bottom: 30px;
}

#intro{
    font-size: 20px;
}