.Input {
    margin-top: 50px;
}

.Topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.Input h1 {
    color: #e1af4f;
    text-shadow: 4px 4px 6px black;
    transition: 0.3s;
}

.Input h1:link {
    text-decoration: none;
}
.Input h1:hover {
    font-size: 38px;
}

.ClickableTitle {
    align-items: center;
    height: 100px;
    text-decoration: none;
    text-decoration: none;
}
