.Input {
    margin-top: 50px;
}

.Topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

h1 {
    color: #e1af4f;
    text-shadow: 4px 4px 6px black;
}

h1:link {
    text-decoration: none;
}
