.question-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.question-text {
    width: 70%;
}

.answer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-btn {
    width: 60%;
    height: 50px;
    margin: 10px;
}

.score-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: #d27e4e;
    margin-top: 20px;
    margin-bottom: 0;
}

.after-quiz {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
