#start-btn {
    max-width: 30%;
    margin: 50px;
    -webkit-filter: drop-shadow(5px 5px 20px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    animation: rotation 14s infinite linear;
}

#play-btn {
    max-width: 30%;
    margin: 50px;
}

.startbtn {
    display: block;
    margin: 0 auto;
}

.playbtn {
    display: block;
    margin: 0 auto;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.img-container .playbtn {
    position: absolute;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
