.css-yk16xz-control {
    background-color: #1a6340;
    border: 2px solid #e1af4f;
    box-shadow: 2px 2px 4px black;
    max-width: 400px;
}

.css-1pahdxg-control {
    background-color: #1a6340;
    border: 2px solid #e1af4f;
    box-shadow: 2px 2px 4px black;
}
.css-1pahdxg-control:hover {
    background-color: #1a6340;
    border: 2px solid #e1af4f;
    box-shadow: 2px 2px 4px black;
}

.css-g1d714-ValueContainer {
    width: 290px;
}

.css-1uccc91-singleValue {
    color: #e1af4f;
}

.css-1wa3eu0-placeholder {
    color: #e1af4f;
}

.css-1okebmr-indicatorSeparator {
    background-color: #e1af4f;
    color: #e1af4f;
}
